In [31]:
import pandas as pd
import numpy as np
import os
import re

In [32]:
def get_stats(df) :
    word_count = 0
    for i in df['full_text'] :
        word_count+= len(re.findall(r'\w+', i))
    return word_count

def get_datewise(df,date,month,country,suffix,outputF) :
    temp = df[(df['month']==month) & (df['date']==int(date))]
    tweet_count = 0
    avg_words_per_tweet = 0 
    if(len(temp)>0):
        print("tweets in "+country+ " = " + str(len(temp)))
        tweet_count = len(temp)
        avg_words_per_tweet = (get_stats(temp)/tweet_count)
        output_file =outputF+suffix+".csv"
        temp.to_csv(output_file)
    
    return tweet_count , avg_words_per_tweet

In [33]:
region = 'ven'
# german : de spanish : es french:fr italian :it dutch:nl russian:ru
lang = 'es'
country = 'venezuela'

In [34]:
flag = 0
completed_tweets_path = '../new_csvs/'+region+'/'
for _,_,files in os.walk(completed_tweets_path) :
    print(files)
print(len(files))
total_tweets = 0

for file in files :
    if(flag==0) :
        df=pd.read_csv(completed_tweets_path+file, index_col=False)
        flag=1
        print(len(df))
        total_tweets+=len(df)
    else :
        df_temp = pd.read_csv(completed_tweets_path+file , index_col=False, error_bad_lines=False)
        print(len(df_temp))
        df = pd.concat([df,df_temp])
        total_tweets+=len(df_temp)

['2020-04-27_ven_complete.csv', 'IDs_48000000-49000000_ven_complete.csv', '2020-05-04_ven_complete.csv', 'IDs_29000000-30000000_ven_complete.csv', 'IDs_9000000-10000000_ven_complete.csv', '2020-05-06_ven_complete.csv', 'IDs_2000000-3000000_ven_complete.csv', 'IDs_50000000-51000000_ven_complete.csv', 'IDs_22000000-23000000_ven_complete.csv', 'IDs_16000000-17000000_ven_complete.csv', 'IDs_51000000-52000000_ven_complete.csv', '2020-05-13_ven_complete.csv', '2020-05-08_ven_complete.csv', 'IDs_25000000-26000000_ven_complete.csv', '2020-05-15_ven_complete.csv', 'IDs_1000000-2000000_ven_complete.csv', '2020-05-03_ven_complete.csv', 'IDs_39000000-40000000_ven_complete.csv', '2020-04-29_ven_complete.csv', '2020-05-05_ven_complete.csv', 'IDs_41000000-42000000_ven_complete.csv', '2020-05-14_ven_complete.csv', 'IDs_10000000-11000000_ven_complete.csv', '2020-05-17_ven_complete.csv', 'IDs_45000000-46000000_ven_complete.csv', 'IDs_36000000-37000000_ven_complete.csv', 'IDs_30000000-31000000_ven_complete.csv', 'IDs_5000000-6000000_ven_complete.csv', 'IDs_37000000-38000000_ven_complete.csv', '2020-05-01_ven_complete.csv', '2020-05-12_ven_complete.csv', 'IDs_47000000-48000000_ven_complete.csv', 'IDs_3000000-4000000_ven_complete.csv', '2020-05-07_ven_complete.csv', 'IDs_23000000-24000000_ven_complete.csv', 'IDs_18000000-19000000_ven_complete.csv', 'IDs_49000000-50000000_ven_complete.csv', '2020-04-30_ven_complete.csv', 'IDs_40000000-41000000_ven_complete.csv', '2020-05-09_ven_complete.csv', 'IDs_52000000-52026197_ven_complete.csv', 'IDs_8000000-9000000_ven_complete.csv', 'IDs_21000000-22000000_ven_complete.csv', '2020-05-16_ven_complete.csv', 'IDs_27000000-28000000_ven_complete.csv', 'IDs_43000000-44000000_ven_complete.csv', 'IDs_20000000-21000000_ven_complete.csv', '2020-05-02_ven_complete.csv', 'IDs_35000000-36000000_ven_complete.csv', 'IDs_26000000-27000000_ven_complete.csv', 'IDs_32000000-33000000_ven_complete.csv', 'IDs_31000000-32000000_ven_complete.csv', '2020-05-10_ven_complete.csv', 'IDs_4000000-5000000_ven_complete.csv', 'IDs_24000000-25000000_ven_complete.csv', '2020-04-28_ven_complete.csv', '2020-04-26_ven_complete.csv', '2020-05-18_ven_complete.csv', 'IDs_13000000-14000000_ven_complete.csv', 'IDs_0-1000000_ven_complete.csv', 'IDs_44000000-45000000_ven_complete.csv', 'IDs_15000000-16000000_ven_complete.csv', 'IDs_14000000-15000000_ven_complete.csv', 'IDs_6000000-7000000_ven_complete.csv', 'IDs_19000000-20000000_ven_complete.csv', 'IDs_28000000-29000000_ven_complete.csv', '2020-05-11_ven_complete.csv', 'IDs_17000000-18000000_ven_complete.csv', 'IDs_42000000-43000000_ven_complete.csv', 'IDs_38000000-39000000_ven_complete.csv', 'IDs_11000000-12000000_ven_complete.csv', 'IDs_12000000-13000000_ven_complete.csv', 'IDs_33000000-34000000_ven_complete.csv', 'IDs_46000000-47000000_ven_complete.csv', 'IDs_34000000-35000000_ven_complete.csv', 'IDs_7000000-8000000_ven_complete.csv']
76
2792
2804
2251
2928
2895
2668
7143
3232
2820
3293
3308
2859
2755
3159
2897
6984
2513
3206
3431
2432
3089
3193
2692
2942
3465
3388
3423
5245
3669
1902
2689
3247
6168
2621
2716
3546
2852
2937
3470
2867
109
3562
3208
3235
2894
3356
3132
2781
2936
2978
3235
2897
2504
5319
2900
3007
2910
2435
379
4994
4991
3352
3428
4102
3289
2980
2921
3664
3048
3274
3998
4083
2747
3223
3208
3516

In [35]:
df = df.reset_index(drop = True)
df

,created_at,month,date,time,day,tweet_id,country,location,full_text,language,retweet_count,favourite_count,reply_count
0,Mon Apr 27 04:02:34 +0000 2020,Apr,27,04:02:34,Mon,1254621938422624256,none,venezuela,#BastaYaDeTareckYSoteldo https://t.co/oqMTH454Ue,und,0,none,none
1,Mon Apr 27 04:02:31 +0000 2020,Apr,27,04:02:31,Mon,1254621925780926464,none,venezuela,Nada volverá a ser igual despues del #COVID19 ...,es,3,none,none
2,Mon Apr 27 04:03:42 +0000 2020,Apr,27,04:03:42,Mon,1254622224771842051,none,venezuela,#PIB global caería hasta -3% por efecto del co...,es,0,none,none
3,Mon Apr 27 04:03:40 +0000 2020,Apr,27,04:03:40,Mon,1254622215255011328,none,venezuela,#PIB global caería hasta -3% por efecto del co...,es,0,none,none
4,Mon Apr 27 04:04:23 +0000 2020,Apr,27,04:04:23,Mon,1254622396545413121,none,venezuela,#Pandemia | Ralph Lauren realizó una donación ...,es,0,none,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...
247081,Fri Mar 06 16:55:06 +0000 2020,Mar,6,16:55:06,Fri,1235972185661100037,none,venezuela,Autopsia de un fallecido por coronavirus revel...,es,0,none,none
247082,Fri Mar 06 16:57:22 +0000 2020,Mar,6,16:57:22,Fri,1235972755478077440,none,venezuela,Ciudad de Vaticano confirma primer caso de COV...,es,0,none,none
247083,Fri Mar 06 16:57:46 +0000 2020,Mar,6,16:57:46,Fri,1235972853146714114,none,venezuela,Primer caso de coronavirus en Perú y no fui yo 😤,es,0,none,none
247084,Fri Mar 06 16:58:03 +0000 2020,Mar,6,16:58:03,Fri,1235972926727507968,none,venezuela,Equipo ciclista Astana se retira de competicio...,es,0,none,none
247085,Fri Mar 06 16:58:38 +0000 2020,Mar,6,16:58:38,Fri,1235973073955885057,none,venezuela,#6Mar Francia registra ya 7 muertos y 138 nuev...,es,0,none,none

In [36]:
df.drop_duplicates(subset='tweet_id', keep='first', inplace=True)

In [37]:
df = df[df['language']==lang]
df

,created_at,month,date,time,day,tweet_id,country,location,full_text,language,retweet_count,favourite_count,reply_count
1,Mon Apr 27 04:02:31 +0000 2020,Apr,27,04:02:31,Mon,1254621925780926464,none,venezuela,Nada volverá a ser igual despues del #COVID19 ...,es,3,none,none
2,Mon Apr 27 04:03:42 +0000 2020,Apr,27,04:03:42,Mon,1254622224771842051,none,venezuela,#PIB global caería hasta -3% por efecto del co...,es,0,none,none
3,Mon Apr 27 04:03:40 +0000 2020,Apr,27,04:03:40,Mon,1254622215255011328,none,venezuela,#PIB global caería hasta -3% por efecto del co...,es,0,none,none
4,Mon Apr 27 04:04:23 +0000 2020,Apr,27,04:04:23,Mon,1254622396545413121,none,venezuela,#Pandemia | Ralph Lauren realizó una donación ...,es,0,none,none
5,Mon Apr 27 04:05:03 +0000 2020,Apr,27,04:05:03,Mon,1254622564808302593,none,venezuela,La lucha ahora es contra el coronavirus y el a...,es,0,none,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...
247081,Fri Mar 06 16:55:06 +0000 2020,Mar,6,16:55:06,Fri,1235972185661100037,none,venezuela,Autopsia de un fallecido por coronavirus revel...,es,0,none,none
247082,Fri Mar 06 16:57:22 +0000 2020,Mar,6,16:57:22,Fri,1235972755478077440,none,venezuela,Ciudad de Vaticano confirma primer caso de COV...,es,0,none,none
247083,Fri Mar 06 16:57:46 +0000 2020,Mar,6,16:57:46,Fri,1235972853146714114,none,venezuela,Primer caso de coronavirus en Perú y no fui yo 😤,es,0,none,none
247084,Fri Mar 06 16:58:03 +0000 2020,Mar,6,16:58:03,Fri,1235972926727507968,none,venezuela,Equipo ciclista Astana se retira de competicio...,es,0,none,none
247085,Fri Mar 06 16:58:38 +0000 2020,Mar,6,16:58:38,Fri,1235973073955885057,none,venezuela,#6Mar Francia registra ya 7 muertos y 138 nuev...,es,0,none,none

In [38]:
months = ['Jan' ,'Feb' , 'Mar', 'Apr', 'May']
days = {
    'Jan' : 31,
    'Feb' : 29,
    'Mar' : 31,
    'Apr' : 30,
    'May' : 18,
}

In [39]:
tweets = []
wpt_stat = []
mth = []
dt = []
tweet_sum = 0

for m in months :
    for i in range(1,days[m]+1) :
        print(m)
        print(i)
        if(i <=9) :
            date = '0'+str(i)
        else :
            date= str(i)
        
        mth.append(m)
        dt.append(i)
        
        outputF = "../datewise_countrywise/"+region+"/"+ m + "_" +date+"_"
        tot_tweet , wpt = get_datewise(df,date,m,country,region,outputF)
        tweet_sum+=tot_tweet
        tweets.append(tot_tweet)
        wpt_stat.append(wpt)

Jan
1
Jan
2
Jan
3
Jan
4
Jan
5
Jan
6
Jan
7
Jan
8
Jan
9
Jan
10
Jan
11
Jan
12
Jan
13
Jan
14
Jan
15
Jan
16
Jan
17
Jan
18
tweets in venezuela = 1
Jan
19
Jan
20
tweets in venezuela = 1
Jan
21
tweets in venezuela = 1
Jan
22
tweets in venezuela = 4
Jan
23
tweets in venezuela = 6
Jan
24
tweets in venezuela = 12
Jan
25
tweets in venezuela = 7
Jan
26
tweets in venezuela = 10
Jan
27
tweets in venezuela = 442
Jan
28
tweets in venezuela = 1328
Jan
29
tweets in venezuela = 1310
Jan
30
tweets in venezuela = 1465
Jan
31
tweets in venezuela = 1775
Feb
1
tweets in venezuela = 1320
Feb
2
tweets in venezuela = 1570
Feb
3
tweets in venezuela = 1674
Feb
4
tweets in venezuela = 1668
Feb
5
tweets in venezuela = 1279
Feb
6
tweets in venezuela = 1180
Feb
7
tweets in venezuela = 1111
Feb
8
tweets in venezuela = 222
Feb
9
tweets in venezuela = 6
Feb
10
tweets in venezuela = 758
Feb
11
tweets in venezuela = 1016
Feb
12
tweets in venezuela = 889
Feb
13
tweets in venezuela = 953
Feb
14
tweets in venezuela = 819
Feb
15
tweets in venezuela = 615
Feb
16
tweets in venezuela = 605
Feb
17
tweets in venezuela = 754
Feb
18
tweets in venezuela = 929
Feb
19
tweets in venezuela = 727
Feb
20
tweets in venezuela = 546
Feb
21
tweets in venezuela = 913
Feb
22
tweets in venezuela = 1003
Feb
23
tweets in venezuela = 978
Feb
24
tweets in venezuela = 1377
Feb
25
tweets in venezuela = 1674
Feb
26
tweets in venezuela = 2412
Feb
27
tweets in venezuela = 848
Feb
28
tweets in venezuela = 40
Feb
29
tweets in venezuela = 35
Mar
1
tweets in venezuela = 991
Mar
2
tweets in venezuela = 1048
Mar
3
tweets in venezuela = 899
Mar
4
tweets in venezuela = 1236
Mar
5
tweets in venezuela = 1394
Mar
6
tweets in venezuela = 1915
Mar
7
tweets in venezuela = 1041
Mar
8
tweets in venezuela = 1349
Mar
9
tweets in venezuela = 1320
Mar
10
tweets in venezuela = 1243
Mar
11
tweets in venezuela = 1168
Mar
12
tweets in venezuela = 1354
Mar
13
tweets in venezuela = 2362
Mar
14
tweets in venezuela = 2786
Mar
15
tweets in venezuela = 2862
Mar
16
tweets in venezuela = 367
Mar
17
tweets in venezuela = 2271
Mar
18
tweets in venezuela = 2738
Mar
19
tweets in venezuela = 2637
Mar
20
tweets in venezuela = 2560
Mar
21
tweets in venezuela = 2906
Mar
22
tweets in venezuela = 2476
Mar
23
tweets in venezuela = 2423
Mar
24
tweets in venezuela = 2684
Mar
25
tweets in venezuela = 2721
Mar
26
tweets in venezuela = 2845
Mar
27
tweets in venezuela = 2475
Mar
28
tweets in venezuela = 2198
Mar
29
tweets in venezuela = 2356
Mar
30
tweets in venezuela = 2570
Mar
31
tweets in venezuela = 2192
Apr
1
tweets in venezuela = 2568
Apr
2
tweets in venezuela = 2366
Apr
3
tweets in venezuela = 2471
Apr
4
tweets in venezuela = 2682
Apr
5
tweets in venezuela = 2702
Apr
6
tweets in venezuela = 2696
Apr
7
tweets in venezuela = 2639
Apr
8
tweets in venezuela = 2854
Apr
9
tweets in venezuela = 2504
Apr
10
tweets in venezuela = 2939
Apr
11
tweets in venezuela = 2764
Apr
12
tweets in venezuela = 3412
Apr
13
tweets in venezuela = 3083
Apr
14
tweets in venezuela = 3112
Apr
15
tweets in venezuela = 3037
Apr
16
tweets in venezuela = 2795
Apr
17
tweets in venezuela = 2859
Apr
18
tweets in venezuela = 3160
Apr
19
tweets in venezuela = 3021
Apr
20
tweets in venezuela = 3029
Apr
21
tweets in venezuela = 3027
Apr
22
tweets in venezuela = 2875
Apr
23
tweets in venezuela = 2911
Apr
24
tweets in venezuela = 2848
Apr
25
tweets in venezuela = 2913
Apr
26
tweets in venezuela = 2735
Apr
27
tweets in venezuela = 2579
Apr
28
tweets in venezuela = 2692
Apr
29
tweets in venezuela = 3094
Apr
30
tweets in venezuela = 2931
May
1
tweets in venezuela = 2276
May
2
tweets in venezuela = 2143
May
3
tweets in venezuela = 2357
May
4
tweets in venezuela = 2098
May
5
tweets in venezuela = 2184
May
6
tweets in venezuela = 2456
May
7
tweets in venezuela = 2401
May
8
tweets in venezuela = 2596
May
9
tweets in venezuela = 2621
May
10
tweets in venezuela = 2286
May
11
tweets in venezuela = 2806
May
12
tweets in venezuela = 2640
May
13
tweets in venezuela = 2585
May
14
tweets in venezuela = 2799
May
15
tweets in venezuela = 2651
May
16
tweets in venezuela = 2771
May
17
tweets in venezuela = 3042
May
18
tweets in venezuela = 2433

In [40]:
print(tweet_sum)

226113

In [41]:
stats_arg = {
    'date': dt,
    'month': mth,
    'tweets_arg' :tweets,
    'wpt_arg' : wpt_stat
}

In [42]:
stats_arg

{'date': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18],
 'month': ['Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Jan',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Feb',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Mar',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'Apr',
  'May',
  'May',
  'May',
  'May',
  'May',
  'May',
  'May',
  'May',
  'May',
  'May',
  'May',
  'May',
  'May',
  'May',
  'May',
  'May',
  'May',
  'May'],
 'tweets_arg': [0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  1,
  1,
  4,
  6,
  12,
  7,
  10,
  442,
  1328,
  1310,
  1465,
  1775,
  1320,
  1570,
  1674,
  1668,
  1279,
  1180,
  1111,
  222,
  6,
  758,
  1016,
  889,
  953,
  819,
  615,
  605,
  754,
  929,
  727,
  546,
  913,
  1003,
  978,
  1377,
  1674,
  2412,
  848,
  40,
  35,
  991,
  1048,
  899,
  1236,
  1394,
  1915,
  1041,
  1349,
  1320,
  1243,
  1168,
  1354,
  2362,
  2786,
  2862,
  367,
  2271,
  2738,
  2637,
  2560,
  2906,
  2476,
  2423,
  2684,
  2721,
  2845,
  2475,
  2198,
  2356,
  2570,
  2192,
  2568,
  2366,
  2471,
  2682,
  2702,
  2696,
  2639,
  2854,
  2504,
  2939,
  2764,
  3412,
  3083,
  3112,
  3037,
  2795,
  2859,
  3160,
  3021,
  3029,
  3027,
  2875,
  2911,
  2848,
  2913,
  2735,
  2579,
  2692,
  3094,
  2931,
  2276,
  2143,
  2357,
  2098,
  2184,
  2456,
  2401,
  2596,
  2621,
  2286,
  2806,
  2640,
  2585,
  2799,
  2651,
  2771,
  3042,
  2433],
 'wpt_arg': [0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  36.0,
  0,
  19.0,
  17.0,
  17.5,
  15.833333333333334,
  26.25,
  18.428571428571427,
  19.6,
  20.402714932126695,
  19.656626506024097,
  20.221374045801525,
  20.478498293515358,
  20.327887323943663,
  20.3,
  20.120382165605097,
  20.21505376344086,
  19.520983213429258,
  19.685691946833465,
  19.388983050847457,
  20.184518451845186,
  19.085585585585587,
  16.333333333333332,
  19.71503957783641,
  20.08956692913386,
  20.467941507311586,
  19.912906610703043,
  20.05860805860806,
  20.380487804878047,
  19.33719008264463,
  19.840848806366047,
  21.411194833153928,
  19.97111416781293,
  20.765567765567766,
  21.9671412924425,
  20.64606181455633,
  20.226993865030675,
  21.39578794480755,
  20.86320191158901,
  20.46268656716418,
  20.97759433962264,
  24.475,
  21.857142857142858,
  21.69223007063572,
  21.263358778625953,
  20.977753058954395,
  20.812297734627833,
  20.42180774748924,
  19.77023498694517,
  19.729106628242075,
  20.373610081541884,
  21.01060606060606,
  21.398230088495577,
  21.455479452054796,
  21.614475627769572,
  22.244707874682472,
  22.895908111988515,
  23.223619846261357,
  21.651226158038146,
  23.48040510788199,
  23.679327976625274,
  23.249525976488435,
  23.93046875,
  23.70922229869236,
  23.656300484652665,
  24.123400742880726,
  24.10059612518629,
  24.10363836824697,
  23.87908611599297,
  24.348282828282827,
  24.02547770700637,
  24.245331069609506,
  24.250194552529184,
  24.4375,
  25.629283489096572,
  24.90194420963652,
  24.041278834479968,
  24.361670395227442,
  24.186158401184308,
  25.12908011869436,
  24.45054945054945,
  24.694814295725298,
  24.68450479233227,
  24.89622320517183,
  24.77424023154848,
  24.563892145369284,
  24.418423613363608,
  24.801735218509,
  25.15344089562068,
  24.903756708407872,
  24.42812172088143,
  25.25601265822785,
  24.06521019529957,
  25.088147903598546,
  25.186983812355468,
  25.497739130434784,
  24.889385091034008,
  25.08005617977528,
  24.959491932715412,
  25.256672760511883,
  25.28034121752617,
  25.573922734026745,
  25.262766645119587,
  25.25554418287274,
  24.436291739894553,
  25.314045730284647,
  24.921934662706832,
  24.6954242135367,
  24.375457875457876,
  24.235342019543975,
  24.264889629321114,
  23.828582434514637,
  24.09462037390309,
  23.805774278215225,
  24.70848182466144,
  24.50719696969697,
  25.66769825918762,
  24.705609146123617,
  24.619766125990193,
  24.597618188379645,
  24.400723208415517,
  24.999177969584874]}

In [43]:
stats_arg = pd.DataFrame(stats_arg)

In [44]:
stats_arg

     date month  tweets_arg    wpt_arg
0       1   Jan           0   0.000000
1       2   Jan           0   0.000000
2       3   Jan           0   0.000000
3       4   Jan           0   0.000000
4       5   Jan           0   0.000000
..    ...   ...         ...        ...
134    14   May        2799  24.705609
135    15   May        2651  24.619766
136    16   May        2771  24.597618
137    17   May        3042  24.400723
138    18   May        2433  24.999178

[139 rows x 4 columns]

In [45]:
O_file = "stats_"+region+".csv"
stats_arg.to_csv(O_file, index=False)